body {

    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

#app {

    height: 100%;
}

#publisher {

    height: 100%;
    width: 100%;
}

#subscriber {

    height: 100%;
    width: 100%;
}